# Topcoder Submission API Wrapper

## Step to run tests

1. Set the environment variables found in `test/testConfig.js`
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report

## Test Coverage Report

232 passing (6m)

 File                                       | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s
 -------------------------------------------|---------|----------|---------|---------|-----------------
 All files                                  |  99.35  |  84.21   | 100     |  99.35  |
 topcoder-submission-api-wrapper            | 100     | 100      | 100     | 100     |
 index.js                                   | 100     | 100      | 100     | 100     |
 topcoder-submission-api-wrapper/src        | 100     | 100      | 100     | 100     |
 ReviewSummationsApi.js                     | 100     | 100      | 100     | 100     |
 ReviewTypesApi.js                          | 100     | 100      | 100     | 100     |
 ReviewsApi.js                              | 100     | 100      | 100     | 100     |
 SubmissionsApi.js                          | 100     | 100      | 100     | 100     |
 topcoder-submission-api-wrapper/src/common |  97.22  |  82.35   | 100     |  97.22  |
 helper.js                                  |  97.22  |  82.35   | 100     |  97.22  |  90